footer {
  display: none;
}
.card-img-top {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card-body {
  height: 10rem;
  overflow: hidden;
}

.card-link {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.entire-card-link,
.entire-card-link:hover,
.entire-card-link:focus,
.entire-card-link:active {
  text-decoration: none;
  color: inherit;
}

.card-title-custom {
  color: rgb(53, 51, 51);
}
